@charset "UTF-8";

/* Use branding color for background */
body,
.pagelayout-login #page {
    background: $background-color;
}

/* Make the icons more shape based so they are more easily recognisable */
.activityiconcontainer {
  background-color: rgba(255,255,255,0) !important;
}
.activityiconcontainer.collaboration .activityicon {
  filter: invert(49%) sepia(27%) saturate(1451%) hue-rotate(320deg) brightness(100%) contrast(95%) !important;
}
.activityiconcontainer.content .activityicon {
  filter: invert(71%) sepia(41%) saturate(5942%) hue-rotate(179deg) brightness(92%) contrast(91%) !important;
}
.activityiconcontainer.assessment .activityicon {
  filter: invert(55%) sepia(91%) saturate(1396%) hue-rotate(297deg) brightness(97%) contrast(91%) !important;
}
.activityiconcontainer.communication .activityicon {
  filter: invert(41%) sepia(46%) saturate(3247%) hue-rotate(136deg) brightness(97%) contrast(87%) !important;
}

/* Suppress border and decrease padding around activities */
.activity-item:not(.activityinline) {
  border: none;
  padding: 0.3rem;
}

/* Suppress horizontal rule above description */
.activity-item:not(.activityinline) .activity-description {
  padding-top: 0; border-top: none;
}

/* Decrease activity icon container size */
.activityiconcontainer {
  width: 32px;
  height: 32px;
}

/* Decrease activity icon size */
.activityiconcontainer .activityicon,
.activityiconcontainer .icon {
  width: 20px;
  height: 20px;
}

/* Align horizontally completion conditions */
.activity-item .automatic-completion-conditions {
  display: flex;
  flex-direction: initial;
  align-items: flex-end;
}

/* Decrease space around activity description in course page */
.description .course-description-item:first-child {
  margin-top: 0.25rem;
  padding-top: 0.5rem;
}
.description .course-description-item:last-child {
  padding-bottom: 0.5rem;
}
